.about {
    padding-top: 70px;
    max-width: 100vw;
    min-height: 100vh;
    padding-bottom: 50px;
    background-color: rgba(253, 252, 252, 0.788);
}

.about h1 {
    text-align: center;
    margin-bottom: 5px;
}

.whoWeAre {
    padding-inline: 50px;
    margin-top: 20px;
}

.whoWeAre h1 {
    margin-bottom: 15px;
}

.whoWeAre p {
    line-height: 1.6rem;
    font-size: 1.2rem;
    margin-top: 10px;
}

.whoWeAre ul {
    padding-top: 12px;
    padding-left: 15px;
}

.whoWeAre li {
    list-style: none;
    margin-bottom: 9px;
    font-size: 1.2rem;

}

@media(max-width:700px){
    .about{
        padding-top: 0;
        padding-inline: 0-px;
    }
    .whoWeAre{
        padding-inline: 10px;
    }
}