.veiw{
    max-width: 100vw;
    /* background-color: chocolate; */
    height: 100vh;
    padding-top: 90px;
}
.veiw h1{
    text-align: center;
    margin-bottom: 15px;
}
.viewcardContainer{
   width: 100%;
   /* background-color: aqua; */
   height:78vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 15px;
}
.view_card{
    width: 180px;
    height: 160px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.view_card img{
    width: 100%;
    height:78%;
    border-start-start-radius:10px ;
    border-start-end-radius:10px ;

}
.view_card .item_Name {
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    /* background-color: blue; */
       border-end-start-radius:10px ;
    border-end-end-radius:10px ;
    text-wrap: wrap;
    text-transform: capitalize;
}
.view_card .item_Name h6{
    text-align: center;
    display: flex;
    align-items: center;
}
.subitemAdd{
    /* width: 100%; */
    display: flex;
    margin-left: 5px;
    font-size: 30px;
    color: rgb(201, 86, 4);
}
.subitemAdd:hover{
color: tomato;
cursor: pointer;
}
@media(max-width:700px){
    .veiw{
        padding-top: 10px;
    }
}