.ViewProfile {
    max-width: 100vw;
    height: 100vh;
    padding-top: 70px;
}

.ViewProfile h1 {
    text-transform: capitalize;
    margin-top: 10px;
    padding-left: 10px;

}
.ViewProfile p{
    padding-left: 10px;

}
.addressLine {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}
.addressLine p{
    margin-top: 5px;
}
@media(max-width:700px){
    .ViewProfile{
        padding-top:10px;
    }
}