.passwordChange {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.passwordChange form {
    padding: 10px 25px;
    padding-block: 20px;
    border-radius: 20px;
    box-shadow: 6px 5px 5px 5px rgba(15, 15, 15, 0.2);
    width: 350px;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
}