.editProduct {
    padding-top: 70px;
    padding-left: 10px;
}

.editProduct .searchProductDiv {
    height: 40px;
    background-color: brown;
    width: 250px;
}

.editProduct .searchProductDiv .searchProductForm {
    width: 100%;
    height: 100%;
    border: .15rem solid darkolivegreen;
}

.searchProductForm input {
    width: 80%;
    height: 99%;
    outline: none;
    border: none;
    padding-left: 2px;
}

.searchProductForm button {
    width: 20%;
    height: 99%;
    cursor: pointer;
    background-color: darkolivegreen;
    outline: none;
    border: none;
    color: white;
}

.productList {
    max-width: 100vw;
    height: auto;
    padding-block: 10px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /* justify-items: center; */
    padding-left: 20px;

}

.productItem {
    width: auto;
    height: 150px;
    border-radius: 10px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.productItem p {
    margin-top: 5px;
    font-size: 1.1rem;
}

.productList .selected {
    width: auto;
    height: 150px;
    border-radius: 10px;
    border: 5px solid rgb(128, 93, 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: rgb(128, 93, 4);
    color: white;
}

.productItem:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.productItem img {
    width: 100%;
    height: 80%;
    border-radius: 10px;

}

.editFormDiv {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22px;
    gap: 20px;
}

.editFormDiv form {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.editFormDiv form div{
    display: flex;
    flex-direction: column;
}
.editFormDiv form div input{ 
    height: 35px;
    width: 220px;
    padding-left: 5px;
}

@media(max-width:700px) {
    .editProduct {
        padding-top: 0px;
    }
}