.orders {
    /* padding-inline: 10px; */
    padding-top: 65px;
    max-width: 100vw;
}

.orders h1 {
    margin-left: 5px;
}

.order-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 5px;
    padding-inline: 5px;
}

.itemOrder {
    width: 140px;
    height: 50px;
    gap: 10px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.itemOrder.selected {
    background-color: rgb(146, 99, 38);
    color: white;
    transform: scale(1.03);
    transition: 0.2s;
}

.itemOrder:hover {
    border: 1px solid rgb(252, 249, 249);
    font-size: 1.1rem;
}

.orders h2 {
    text-decoration: underline;
    padding-left: 10px;
}

.tables {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    margin-top: 5px;
    margin-inline: 5px;
    min-width: 90vw;
    border-collapse: separate;
    /* prevents double borders */

    border: 1px solid rgb(0, 0, 0, .5);

}

table thead th {
    width: auto;
    background-color: rgb(146, 99, 38);
    height: 25px;
}

th:nth-child(1) {
    width: 45px;
}

td {
    text-align: center;
    height: 25px;
}

tr {
    background-color: rgba(91, 91, 100, 0.5);
}

.tableDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

tr:hover {
    background-color: chocolate;
    cursor: pointer;
}

.CustomerName {
    text-transform: capitalize;
    font-weight: bold;
}

.tableDive {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

@media(max-width:700px) {
    .orders {
        padding-top: 0px;

    }
}

@media(max-width:700px) {
    .orders {
        padding-top: 0px;

    }
}

@media(max-width:576px) {
    table {
        padding-top: 0px;
        width: 98vw;
    }
}