.users{
    padding-top: 70px;
    max-width: 100vw;
}
.users h1{
    text-align: center;
}
.users p{
    margin-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.showButton{
    margin-left: 15px;
    height: 30px;
    width: 80px;
    margin-top: 5px;
    background-color: slategrey;
    color:rgb(0, 0, 0);
    cursor: pointer;
}
.Usertable{
    width: 100%;
    display: flex;
    margin-top: 15px;
    justify-content: center;
}
.Usertable td{
    text-transform: uppercase;
    padding-block: 5px;
}
.Usertable span{
    color: rgb(255, 0, 0,.5);
}
.Usertable .userAddress{
    text-transform: capitalize !important;
}

.userSearch{
    margin-top: 10px;
    padding-left: 10px;
}
.userSearch .searchUser{
    margin-block: 5px;
    border: 2.3px solid rgb(0, 0, 0,.3);
    width: 250px;
    height: 40px;
}
.searchUser .searchUserForm{
    height: 100%;
    width: 100%;
}
.searchUserForm input{
    height: 100%;
    width: 80%;
    outline: none;
    border: none;
}
.searchUserForm button{
    height: 100%;
    width: 20%;
     outline: none;
    border: none;
    background-color: darkolivegreen;
    color: white;
    cursor: pointer;
}
.deleteUserTable{
    width: 100%vw;
    margin-top: 20px;
}
.deleteUserTable th{
    width: 60%;
    
}
.deleteUserTable td{
    text-transform: capitalize;
    padding-block: 5px;
}
.deleteUserTable button{
    width: 50px;
    height: 30px;
    background-color: rgb(253, 4, 4,.7);
    text-transform: capitalize;
}

@media(max-width:700px){
    .users{
        padding: 0;
    }
}