.Homepage {
    max-width: 100vw;
    height: 100vh;
    /* background-color: chocolate; */
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}


.cardConatiner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 40px;
}

.card {
    width: 150px;
    height: 140px;
    background-color: darkgray;
    border-radius: 5px;
    position: relative;
    /* border: 1px solid ; */
    border-radius: 100%;
    margin-top: 10px;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 100%;

}

.card p {
    position: relative;
    font-size: large;
    text-align: center !important;
    text-transform: capitalize;
    color: white;
    background-color: rgb(42, 165, 97, .6);
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
}

.adminAdd {
    width: 100%;
    height: 40px;
    margin-block: 10px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;
}

.adminAdd .addIcon {
    width: 40px;
    height: 30px;
    margin-left: 5px;
}

.addIcon:hover {
    color: #386942;
    cursor: pointer;

}

.search,.search form {
    display: flex;
    align-items: center;
    /* padding-top: 2px; */
    width: 220px;
    height: 90%;
    background-color: #386942;
}

.search input {
    width: 89%;
    height: 97%;
    padding-left: 2px;
    outline: 1px solid #386942;
}

.search .searchIcon {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .searchIcon Button {
    color: #ffffff;
    background-color: #386942;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.15rem;

}

.wait {
    text-align: center;
}

@media(max-width:700px) {
    .Homepage {
        padding-top: 0px;
    }
}